.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $backgroundDarkColor;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg); 
}

.hero__container {
    align-items: center;
    text-align: center;
}

.hero__title {

    @include font(44px, 900, 1.36, 0.06em);

    text-align: center;
    text-transform: uppercase;
    color: $secondTitleColor;
    margin-bottom: 30px; 
    width: 696px;
    margin-left: auto;
    margin-right: auto;  
}

.hero__btn {
    font-family: inherit;

    @include font(16px, 700, 1.87, 0.06em);

    display: flex;
    align-items: center;
    text-align: center;

    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;

    color: $buttonColorLight;
    background: $accentColor;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover, 
&:focus {
    color: $buttonColorLight;
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

