.logo {
    font-family: "Raleway",sans-serif;
    
   @include font(26px, 700, 1.19, 0.03em); 

    color: $logoColor;
}

.logo__header {
    display: flex;
    margin-right: 93px;
}

.logo__dark-theme {
    color: $logoDarkTheme;
}

.logo__container {
    margin-bottom: 20px;
}

.logo__light-theme {
    color: $logoLightTheme;
}
