.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
     @include font(36px, 700, 1.16, 0.03em);

    color: $firstTitleColor;
    margin-bottom: 50px;
    text-align: center;   
}