
    $logoColor: #2196F3;
    $logoDarkTheme: #000000;
    $logoLightTheme: #ffffff;
    $mainTextColor: #757575;
    $accentColor: #2196F3;
    $firstTitleColor: #212121;
    $secondTitleColor: #FFFFFF;
    $backgroundLightColor: #ffffff;
    $backgroundDarkColor: #2F303A;
    $borderColor: #ECECEC;
    $buttonColorLight: #FFFFFF;
    $buttonColorDark: #212121;
    $filtersBtnBackground: #F5F4FA;
    $featureBackgroundColor: #F5F4FA;
    $teamBackgroundColor: #F5F4FA;
    $iconColorLight: #ffffff;
